<div class="modal fade" tabindex="-1" id="createFolderModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New folder</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p id="nameUnavailableError" class="text-danger">
          Folder with this name already exists!
        </p>
        <form action="/create-folder" method="post" class="flex-column d-flex">
          <input
            type="hidden"
            name="currentPath"
            id="currentPath"
            value="<%- currentPath ? currentPath : '' %>"
          />
          <label for="name" class="mb-3"
            >Folder name
            <input
              type="text"
              name="folderName"
              id="folderName"
              class="form-control"
          /></label>
          <input
            type="submit"
            value="CREATE FOLDER"
            class="btn bg-primary text-white"
          />
        </form>
      </div>
    </div>
  </div>
</div>
