<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploader</title>
  </head>
  <body class="d-flex flex-column">
    <%- include('./partials/header')%>
    <main
      class="container main-content d-flex align-items-center justify-content-center"
    >
      <h2 class="display-6 text-center">
        <%- message ? message : 'Oops, there was an error.' %>
        <a href="/">Click here to go home</a>
      </h2>
    </main>
  </body>
</html>
