<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File uploader</title>
  </head>
  <body>
    <main>
      <h2>Oops, there was an error. <a href="/">Click here to go home</a></h2>
    </main>
  </body>
</html>
