html,
body {
  height: 100%;
  margin: 0;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 36px;
}

header h1 {
  font-size: 1.6em;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

.back-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.back-button img {
  width: 30px;
  height: auto;
}

.share-button {
  width: 30px;
  height: 30px;
  margin-right: 1em;
  background-color: #4d4d4d;
}

.share-button img {
  width: 15px;
  height: auto;
  padding-bottom: 2px;
}
.main-content {
  flex: 1;
}

p {
  margin: 0 !important;
}

#nameUnavailableError {
  display: none;
}

.file-icon {
  width: 30px;
  height: auto;
}

.file-name {
  text-decoration: none;
}

a:hover,
button:hover,
input[type='submit']:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn,
input {
  border-radius: 20px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.options-icon,
.pencil-icon {
  width: 20px;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 0px;
}

.details-column-title {
  text-wrap: nowrap;
  white-space: nowrap;
}

.form-container {
  display: none;
}

.share-legend {
  font-size: 1.2em;
}
